.container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.left-box{
    width: 55%;
    border: 1px solid #dbdbdb;
    border-top: 0px ;
}

.left-box img{
    position: relative;
    display: block;
    left: 20px;
    top: 20px;
}

#photo{
    margin-left: auto;
    margin-right: 150px;
    margin-top: -25px;
}

.text-photo p{
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
}

.right-box{
    display: block;
    font-family: sans-serif;

}


.top-element{
    display: block;
    width: 500px;
    position: relative;
    top: 105px;
    left: 50px;
    font-size: 20px;
}

#login-top{
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 185px;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    margin-left: 50px ;
    padding-left: 15px;
    outline: none;
}

#login-bottom{
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 255px;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    margin-left: 50px;
    padding-left: 15px;
    outline: none;
}

#login-btn {
    border: 0px;
    background-color: rgb(0, 136, 244);
    border-radius: 30px;
    width: 525px;
    height: 50px;
    color: white;
    text-align: center;
    position: absolute;
    top: 325px;
    margin-left: 50px;

}

#forgot-btn {
    border: 0px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 525px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 395px;
    margin-left: 50px;
}

#forgot-btn:hover{
    background-color: whitesmoke;
}

#facebook-btn {
    border: 1px solid gray;
    color: black;
    background-color: white;
    border-radius: 30px;
    width: 525px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 500px;
    margin-left: 50px;
}

#new-acc{
    border: 1px solid #379ece;
    color: #379ece;
    background-color: white;
    border-radius: 30px;
    width: 525px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 560px;
    margin-left: 50px;
}

.meta {
    position: absolute;
    top: 610px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    gap: 10px;
    padding: 10px;
}

.meta p {
    margin: 0; 
}

.bottom {
    width: 100%;
    flex-basis: 100%;
    padding: 40px 0 20px 0;
    border-top: 1px solid #dbdbdb;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-links a {
    color: #737373;
    text-decoration: none;
    font-size: 12px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #737373;
    font-size: 12px;
}

.footer-bottom select {
    border: none;
    background: transparent;
    color: #737373;
    font-size: 12px;
    cursor: pointer;
}

